body { 
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

header {
    
    background-image: linear-gradient(to right, red, orange, yellow, green, lightblue, blue, purple);
    color: lightgreen;
    padding: 10px;
    font-size: 16px;
    text-align: right;
}

footer {
    background-image: linear-gradient(to right, red, orange, yellow, green, lightblue, blue, purple);
    color: lightgreen;
    padding: 10px;
    font-size: 16pt;
    text-align: right;
}

a {
    text-shadow: 5px 5px 6px pink;
    transition-duration: 3s;
}

a:visited {
    color: bisque;
    background-color: darkcyan;
 
}

a:hover{
    color: red;
    text-decoration: underline;
    background-color: white;
    font-weight: bold;
    transition: 0.3s;

}

a:active {
    color: pink;
    background-color: green;

    

}

header:hover {
    background-image: linear-gradient(to right, white, lightblue, purple/lightgreen;)
    color: beige;
    font-size: 16px;
}

header:active {
    background-image: linear-gradient(to right, white, lightblue, purple/lightgreen;)
    color: grey;
    padding: 10px;
    font-size: 24px;
}

footer:hover {
    background-image: linear-gradient(to right, white, lightblue, purple/lightgreen;)
    color: beige;
    font-size: 16px;
    font-style: italic;
    text-align: right;
}
footer:active {
    background-image: linear-gradient(to right, white, lightblue, purple/lightgreen;)
    color: beige;
    font-size: 24px;
}

